<!DOCTYPE html>
<html>
<head>
    <title>Workforce Dashboard</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Workforce Analytics Dashboard</h1>

<div class="container">

    <div class="stats">
        <h2>Salary Stats</h2>
        <ul>
            <li><b>Mean:</b> {{ stats.mean }}</li>
            <li><b>Median:</b> {{ stats.median }}</li>
            <li><b>Std Dev:</b> {{ stats.std_dev }}</li>
        </ul>
    </div>
    <div class="stats">
    <h2>Highest Salary by Department</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Department</th>
            <th>Name</th>
            <th>Salary</th>
        </tr>

        {% for row in top_emp.values %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}

    </table>
</div>

    <h2>Charts</h2>

    <div class="charts">

        <div class="chart-box">
            <img src="{{ url_for('static', filename='bar_chart.png') }}">
        </div>

        <div class="chart-box">
            <img src="{{ url_for('static', filename='histogram.png') }}">
        </div>

        <div class="chart-box">
            <img src="{{ url_for('static', filename='pie_chart.png') }}">
        </div>

        <div class="chart-box">
            <img src="{{ url_for('static', filename='scatter_plot.png') }}">
        </div>


    </div>

</div>

</body>
</html>